* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 33, 68);
  margin:150px 500px;
  line-height: 50px;
  color: white;
}


.title {
  width: 800px;
  height: 80px;
  background-color: #fff;
  color: black;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  padding: 10px;
  padding-left: 250px;
  border-radius: 20px;
  @media screen and (max-width: 1200px) and (min-width:468px) { 
      width: 300px;
      height: 100px;
      padding-left: 40px;
      padding-top: 30px;
      font-size: 40px;
  }
}

